

// colors of page

/* Color Theme Swatches in Hex */
$l_green: #587373;
$m_green: #012626;
$d_green: #000D0A;
$o_1 : #92A6A6;
$white: #F2F2F2;
$black: #0D0D0D;
$yellow : #F2B705;

@font-face{
 font-family: Cairo;
  src: url(Cairo-Regular.ttf);
}
