

// colors of page

/* Color Theme Swatches in Hex */
$l_blue: #147DD9;
$m_blue: #0D518C;
$d_blue: #083359;
$white: #F2F2F2;
$black: #0D0D0D;

@font-face{
 font-family: Cairo;
  src: url(Cairo-Regular.ttf);
}
